currency-converter-api/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="currency-conversion-flow" doc:id="0e358d18-3828-4bee-b33d-03e75b945b69" >
		<ee:transform doc:name="DW Store the required attributes in variables" doc:id="f8dfdcaa-2985-4bb6-9b01-177a80846ad4" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="from" ><![CDATA[%dw 2.0
output text/plain
---
message.attributes.queryParams.from as String default "USD"]]></ee:set-variable>
				<ee:set-variable variableName="to" ><![CDATA[%dw 2.0
output text/plain
---
message.attributes.queryParams.to as String default "INR"]]></ee:set-variable>
				<ee:set-variable variableName="value" ><![CDATA[%dw 2.0
output text/plain
---
message.attributes.queryParams.value ]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable value="${secure::token}" doc:name="appID" doc:id="7f4ea919-9d41-40b5-b5ab-1cf831905e1c" variableName="appID"/>
		<logger level="INFO" doc:name="Logger" doc:id="2b873bbb-414b-4398-9668-71adc1de8bfd" />
		<http:request method="GET" doc:name="GET Currency conversion list" doc:id="65f909e8-ab54-48dd-a554-98735d5d515e" config-ref="HTTP_Request_configuration" path="/latest.json">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"app_id" : vars.appID
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="8a7c1470-4435-4da6-92df-6d9b55c636ca" />
		<ee:transform doc:name="DW Conversion of the currency to the required form" doc:id="22255c26-2b72-4521-9841-86fe07221fe6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"Converted amount": (payload.rates[vars.to] as Number) * (vars.value as Number),
"Rate": payload.rates[vars.to] as Number
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>